section, header, footer, aside, nav, article{
  display: block;
}

a:link {
  color: #00FFFF;
}
/* visited link */
a:visited {
  color: #007D7D;
}
/* mouse over link */
a:hover {
  color: #8ebf42;
}
/* selected link */
a:active {
  color: #800000;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}


table {
  border: 1px inset #4B4B4B;
  border-collapse: collapse;
}

th {
  border: 1px inset #4B4B4B;
  color: #82D2FF;
  padding: 1px 5px;
}

tr {
  border: 1px inset #4B4B4B;
  border-collapse: collapse;
  padding: 1px 5px;
}

td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #4B4B4B;
  padding: 1px 5px;
}


#body {
  background-color: #000; 
}

#ex_header, #ex_navbar, #ex_middle, #ex_footer {
  background-color: #000; 
  color: #fff; 
  clear: both;
  margin: 0 auto;
  width: 100%;
}


#module {
  color:#0096FF;
  font-size: 20px;
}

#nname {
  color:#82D2FF;
  font-size: 20px;
}

#pplain {
  color:#FFFFFF;
  font-size: 20px;
}

#ex_header h1 {
  margin: 0 0 0 10px; 
}
  
#ex_navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
  background-color: #000;
  float: left; 
}

#ex_navbar ul li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 10px; 
}

#ex_navbar ul li a {
  text-decoration: none;
  color: #fff; 
}
      
#ex_navbar ul li a:hover {
  color: #ffc; 
}
        
#ex_middle {
  background-color: #000; 
}

#ex_middle2 {
  color: #fff; 
  background-color: #111; 
}
  
#ex_sidebar {
  background-color: #000;
  color: #fff; 
  float: left;
  width: 48%;
}

#ex_sidebar h2 {
  margin: 0 0 0 10px; 
}
    
#ex_main {
  background-color: #000; 
  color: #fff; 
  float: left;
  padding-left: 20px;
  width: 48%;
}

.clear {clear: both;}